:root {
  --font-design: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-size: cover;
  width: 100;
  background: radial-gradient(
    circle at 10% 100%,
    rgb(102, 116, 236) 0%,
    rgb(50, 231, 219) 90%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  font-family: var(--font-design);
}

h1 {
  margin-top: 25px;
  font-size: 45px;
  text-align: center;
}

h2 {
  margin-top: 14px;
  font-size: 38px;
  text-align: center;
  opacity: 87%;
}
.avatar {
  display: block;
  margin: 0 auto;
  border: 3px solid #32e7db;
  border-radius: 55px;
  box-shadow: 5px 7px 8px 5px #088e89e7;
}

.waves {
  max-width: 100%;
  margin-bottom: -15px;
}

footer {
  margin-top: 15px;
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: 600;
}

.intel-info {
  text-align: center;
    font-size: 25px;
    border: 2px solid #2ab9c9;
    border-radius: 40%;
    padding: 25px 60px;
    display: block;
    margin: 0 60px;
    margin-top: 20px;
    background-color: #2ab9c9;
    box-shadow: 5px 3px 2px 5px #088e89e7;

}

hr{
  border: 15px dotted white;
  border-top: none;

}

 .contact{
  text-align: center;  text-decoration: underline;
}

.socials{
  color: white;
}

.phone{

  margin-top: 15px;

  text-align: center;
  font-size: 29px;
}
.email{  
  margin-top: 15px;
  text-align: center;
  font-size: 29px;
  color: white;
  text-decoration: none;
}
.email:hover{
  text-decoration: underline;
}
.media{  
  margin-top: 15px;
  text-align: center;
  font-size: 29px;

}

@media (min-width: 300px) {
  .waves {
    display: block;
    margin: 0 auto;
    margin-bottom: -20px;
  }
  .navbar-brand {
    display: none;
  }
  
}

@media (min-width: 450px) {
  footer {
    font-size: 57px;
    display: block;
    margin: 0 auto;
    font-weight: 900;
  }
  .intel-info {
    text-align: center;
    font-size: 25px;
    border: 2px solid #2ab9c9;
    border-radius: 40%;
    padding: 25px 60px;
    display: block;
    margin: 0 60px;
    margin-top: 15px;
    background-color: #2ab9c9;
  } 

 
}

@media (max-width: 430px) {
  .intel-info {
    font-size: 12px;
text-align: center;
margin-top: 15px;
margin-bottom: 5px;
    border: none;
  }
  .contact{
    text-decoration: none;
    text-align: left;
  }
.phone{
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 7px;
  margin-top: 15px;
  text-align: left;
  margin-right: 25px ;
}
.email{  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 7px;
  margin-top: 15px;
  text-align: left;
  margin-right: 25px ;
color: white;
text-decoration: none;
}
.media{
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 7px;
  margin-top: 15px;
  text-align: left;
  margin-right: 25px ;

}
}
