:root {
  --font-design: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --primary-color: #2ab9c9;
  --seconday-color: #088e89e7;
}

body {
  background-size: cover;
  width: 100;
  background: radial-gradient(circle at 10% 100%, #6674ec 0%, #32e7db 90%);
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  font-family: var(--font-design);
}

h1 {
  margin-top: 25px;
  font-size: 78px;
  text-align: center;
}

h2 {
  margin-top: 14px;
  font-size: 38px;
  text-align: center;
  opacity: 95%;
}
.avatar {
  display: block;
  margin: 0 auto;
  border: 3px solid #32e7db;
  border-radius: 55px;
  box-shadow: 5px 7px 8px 5px var(--seconday-color);
}

.waves {
  max-width: 25%;
  margin-bottom: -15px;
  border-radius: 15%;
}

footer {
  margin-top: 15px;
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: 600;
}

.intel-info {
  text-align: center;
  font-size: 25px;
  border: 2px solid var(--primary-color);
  border-radius: 40%;
  padding: 25px 60px;
  display: block;
  margin: 0 60px;
  margin-top: 20px;
  background-color: var(--primary-color);
  box-shadow: 5px 3px 2px 5px var(--seconday-color);
}

hr {
  border: 15px dotted white;
  border-top: none;
}

.contact {
  text-align: center;
  text-decoration: underline;
}

.socials {
  color: white;
}

.phone {
  margin-top: 15px;
  text-align: center;
  font-size: 29px;
}
.email {
  text-align: center;
}
.e-mail {
  margin-top: 15px;
  text-align: center;
  font-size: 29px;
  color: white;
  text-decoration: none;
}
.e-mail:hover {
  text-decoration: underline;
}
.media {
  margin-top: 15px;
  text-align: center;
  font-size: 29px;
}
.dive {
  margin-top: 35px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  opacity: 87%;
  background-color: #2ed1c6cd;
  border: 2px solid var(--primary-color);
  border-radius: 45%;
  padding: 20px 40px;
}

.dive:hover {
  opacity: 100%;
}

button a {
  text-decoration: none;
  color: white;
}

.featured {
  text-align: center;
  margin-top: 25px;
  font-style: italic;
}
.project-set1 {
  margin-top: 50px;
}

.project-set1 p {
  font-size: 25px;
}

.project-set2 {
  margin-top: 50px;
}

.project-set2 p {
  font-size: 25px;
}

.project-set3 p {
  font-size: 25px;
}

.project-set3 {
  margin-top: 50px;
}

.project-img1 {
  border-radius: 15%;
  border: 4px solid var(--primary-color);
  box-shadow: 7px 7px 7px #80808089;
}

.project-img1:hover {
  scale: 1.2;
  transition: all 150ms ease-in-out;
}

.project-img2 {
  border-radius: 15%;
  border: 4px solid var(--primary-color);
  box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.536);
}

.project-img2:hover {
  scale: 1.2;
  transition: all 150ms ease-in-out;
}

.project-img3 {
  border-radius: 15%;
  border: 4px solid var(--primary-color);
  box-shadow: 7px 7px 7px rgba(128, 128, 128, 0.536);
}

.project-img3:hover {
  scale: 1.2;
  transition: all 150ms ease-in-out;
}

.view {
  color: white;
  text-align: center;
  opacity: 87%;
  background-color: #2ed1c6cd;
  border: 2px solid var(--primary-color);
  border-radius: 45%;
  padding: 20px 40px;
}

.view:hover {
  opacity: 100%;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  box-shadow: 7px 7px 7px #80808089;
}

.work-inquiry {
  margin-top: 15px;
}

.inquiry {
  font-size: 35px;
  text-decoration: underline;
  font-style: italic;
}

.work-with-me {
  font-size: 25px;
}

.contact-button {
  font-size: 25px;
  color: white;
  text-align: center;
  background-color: #2ed1c6cd;
  border: 2px solid var(--primary-color);
  border-radius: 45%;
  padding: 20px 40px;
  margin-top: 15px;
}

.contact-button:hover {
  cursor: pointer;
  transition: all 150ms ease-in-out;
  box-shadow: 7px 7px 7px #80808089;
}

@media (min-width: 300px) {
  .waves {
    display: block;
    margin: 0 auto;
    margin-bottom: -20px;
  }
  .navbar-brand {
    display: none;
  }
}

@media (min-width: 450px) {
  footer {
    font-size: 57px;
    display: block;
    margin: 0 auto;
    font-weight: 900;
  }
  .intel-info {
    text-align: center;
    font-size: 25px;
    border: 2px solid var(--primary-color);
    border-radius: 40%;
    padding: 25px 60px;
    display: block;
    margin: 0 60px;
    margin-top: 15px;
    background-color: var(--primary-color);
  }
}

@media (max-width: 935px) {
  .waves {
    max-width: 100%;
    margin-bottom: -15px;
    border-radius: 0%;

  }
  .intel-info {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    border: none;
  }
  .contact {
    text-decoration: none;
    text-align: left;
  }
  .phone {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 7px;
    margin-top: 15px;
    text-align: left;
    margin-right: 25px;
  }
  .email {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 15px;
    text-align: left;
    margin-right: 15px;
    color: white;
    text-decoration: none;
  }
  .e-mail {
    font-size: 27px;
  }
  .media {
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 7px;
    margin-top: 15px;
    text-align: left;
    margin-right: 25px;
  }
  .project-img1 {
    max-width: 100%;
  }
  .project-img2 {
    max-width: 100%;
  }
  .project-img3 {
    max-width: 100%;
  }

  .project-set1 p {
    font-size: x-small;
  }
  .project-set2 p {
    font-size: x-small;
  }
  .project-set3 p {
    font-size: x-small;
  }
  .view {
    font-size: 10px;
    padding: 10px 20px;
  }
  .contact-button {
    font-size: 20px;
    padding: 10px 20px;
  }
  .inquiry {
    font-size: 27px;
  }
  .work-with-me {
    font-size: 17px;
  }
}
